h1 {
    font-family: quasimoda-2, sans-serif;
    font-weight: 900;
    font-style: normal;
}

h2 {
    font-family: quasimoda, sans-serif;
    font-weight: 700;
    font-style: normal;
}

p {
    font-family: quasimoda, sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    font-family: quasimoda, sans-serif;
    font-weight: 700;
    font-style: normal;
}


/* Nav style*/

.navbar {
    list-style-type: none;
    background-color: #31037D;
    color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: 0.5vw;
    padding: 0.4vw;
    float: left;
}

.navitem {
    float: left;
}

.navitem a {
    padding: 0.6vw 1vw;
    text-align: center;
    color: white;
    text-decoration: none;
    display: block;
}

.navitem a:hover {
    background-color: white;
    color: black;
}