* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
}

h1 {
    font-family: quasimoda-2, sans-serif;
    font-weight: 900;
    font-style: normal;
}

h2 {
    font-family: quasimoda, sans-serif;
    font-weight: 700;
    font-style: normal;
}

p {
    font-family: quasimoda, sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    font-family: quasimoda, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.nav_container {
    margin-left: 5%;
    margin-right: 5%;
}

.bumpdown {
    padding-top: 65px;
}

.bumpdown h1 {
    text-align: center;
    font-size: 12vw;
    color: white;
}


/* hover h1: https://nestingzone.com/design-blog/cool-header-text-ideas */

.bumpdown h1:hover {
    background: url(https://media.giphy.com/media/koyjGfQHIZQKk/giphy.gif);
    background-size: 200%;
    background-position: center;
    -webkit-background-clip: text;
    color: transparent;
}


/* Sldie in txt: https://codepen.io/hillse/pen/VWjEMy*/

.flyinTxtCont {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-bottom: 10%;
    margin-left: 2em;
}

.flyIn {
    color: #fff;
    font-family: "Raleway";
    text-transform: uppercase;
    line-height: 1.2em;
    position: relative;
    text-shadow: 2px 2px 40px rgba(0, 0, 0, 0.7);
}

.lineOne {
    transition-delay: 0.2s;
    transition: 0.4s ease in;
    animation: txtFlyIn 0.3s linear;
}

.lineTwo {
    transition-delay: 0.4s;
    transition: 0.6s ease in;
    animation: txtFlyIn 0.6s linear;
}

.lineThree {
    transition-delay: 0.6s;
    transition: 0.8s ease in;
    animation: txtFlyIn 0.9s linear;
}

.lineOne,
.lineTwo,
.lineThree {
    font-size: 110px;
    font-weight: bold;
    letter-spacing: 3px;
}

.lineFour {
    transition-delay: 2s;
    transition: 2s ease in;
    animation: fadeIn 2s linear;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    display: inline-block;
    color: #000;
    box-sizing: border-box;
    max-width: 63%;
    max-width: 22em;
    font-size: 32px;
    padding: 0.2em 0.5em;
    margin-top: 30px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes txtFlyIn {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}


/* Navbar */


/* https://codepen.io/abdosteif/pen/bRoyMb */

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    background-color: #6A5495;
}

.nav div.logo {
    width: 180px;
    height: 10px;
    position: absolute;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 1.8em;
    text-transform: uppercase;
}

.nav div.logo a:hover {
    color: #c0c0c0;
}

.nav div.main_list {
    width: 600px;
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
}

.nav div.main_list ul li {
    width: 120px;
    height: 65px;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    text-transform: uppercase;
}

.nav div.main_list ul li a:hover {
    color: #c0c0c0;
}

.nav div.media_button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    right: 15px;
    top: 12px;
    display: none;
}

.nav div.media_button button.main_media_button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    ;
    outline: 0;
    border: none;
    cursor: pointer;
}

.nav div.media_button button.main_media_button span {
    width: 98%;
    height: 1px;
    display: block;
    background-color: #fff;
    margin-top: 9px;
    margin-bottom: 10px;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(1) {
    transform: rotateY(180deg);
    transition: all 0.5s;
    background-color: #c0c0c0;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(2) {
    transform: rotateY(180deg);
    transition: all 0.4s;
    background-color: #c0c0c0;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(3) {
    transform: rotateY(180deg);
    transition: all 0.3s;
    background-color: #c0c0c0;
}

.nav div.media_button button.active span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 45deg);
    position: absolute;
    margin: 0;
}

.nav div.media_button button.active span:nth-of-type(2) {
    display: none;
}

.nav div.media_button button.active span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -45deg);
    position: absolute;
    margin: 0;
}

.nav div.media_button button.active:hover span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 20deg);
}

.nav div.media_button button.active:hover span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -20deg);
}


/* Navbar Medai qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .nav_container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .nav_container {
        margin: 0;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        margin-top: 65px;
        height: 0px;
        overflow: hidden;
    }
    .nav div.show_list {
        height: 250px;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 200px;
        top: 80px;
        right: 0;
        left: 0;
    }
    .nav div.main_list ul li {
        width: 100%;
        height: 40px;
        background-color: #6A5495;
    }
    .nav div.main_list ul li a {
        text-align: center;
        line-height: 40px;
        width: 100%;
        height: 40px;
        display: table;
    }
    .nav div.media_button {
        display: block;
    }
}


/* background slide: https://codepen.io/chris22smith/pen/RZogMa*/

.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6A5495 50%, #ED5EDD 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3 {
    animation-duration: 5s;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}


/* Footer: https://codepen.io/toamaenepitin/pen/gObvrxd */

footer {
    width: 100%;
    display: inline-block;
    /* margin: 2em 0; */
    height: 70px;
    background-color: #999;
}

footer .copyright {
    width: 50%;
    float: left;
}

@media (max-width: 600px) {
    footer .copyright {
        width: 100%;
    }
}

footer .copyright p {
    padding-left: 10%;
    color: white;
    font-size: 0.7em;
    line-height: 70px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

@media (max-width: 600px) {
    footer .copyright p {
        text-align: center;
        padding: 0;
    }
}

footer .social {
    width: 50%;
    float: right;
}

@media (max-width: 600px) {
    footer .social {
        width: 100%;
    }
}

footer .social a {
    float: left;
    line-height: 70px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: bold;
    -moz-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;
}

footer .social a:hover {
    background-color: #222;
    -moz-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;
}

.linked {
    background-color: #1E83AE;
    font-size: 1.2em;
    width: 20%;
}

.face {
    background-color: #3D5B94;
    font-size: 1.2em;
    width: 20%;
}

.tweet {
    background-color: #3DACDD;
    font-size: 1.2em;
    width: 20%;
}

.support {
    background-color: #6dcd9a;
    font-size: 0.8em;
    width: 40%;
}